.chapter1 {
  margin-left: 150px;
  margin-right: 150px;
}

.chapter1-img {
  max-width: 100%;
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.key-header {
  text-align: left;
}

.chapter1 > .key-img {
  height: 40%;
  width: 40%;
}

.next-page-button {
  float: right;
}

.previous-page-button {
  float: left;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .chapter1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .chapter1 > .key-img {
    height: 80%;
    width: 80%;
    text-align: center;
  }

  .chapter1 > .chapter1-img {
    height: 100%;
    width: 100%;
  }
}