.home {
  margin-left: 150px;
  margin-right: 150px;
}

.key-header {
  text-align: left;
}

.next-page-button {
  float: right;
}

.previous-page-button {
  float: left;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .home {
    margin-left: 3px;
    margin-right: 3px;
  }
}