.intro {
  margin-left: 150px;
  margin-right: 150px;
}

.intro-img {
  max-width: 100%;
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.key-header {
  text-align: left;
}

.key-img {
  height: 25%;
  width: 25%;
}

.next-page-button {
  float: right;
}